#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 400px;
  height: 600px;
}

#display {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: end;
  justify-content: end;
  text-align: right;
  color: white;
  font-size: 50px;
  word-wrap: break-word;

}

#keySection {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.keyRow {
  height: 17%;
  display: flex;
  justify-content: space-around;
}

.keyRow>button {
  border: none;
  font-size: 30px;
  border-radius: 50%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.special {
  background-color: rgb(165, 165, 165);
  font-size: 60px;
  color: black;
}

.special:hover {
  background-color: rgb(217, 217, 217);
  transition: 0.4s;
}

.digit {
  background-color: rgb(51, 51, 51);
  color: white;
}

.digit:hover {
  background-color: rgb(115, 115, 115);
  transition: 0.4s;
}

.operand {
  background-color: rgb(241 163 60);
  color: white;
}

.operand:hover {
  background-color: white;
  color: rgb(241 163 60);
  transition: 0.4s;
}

#zero {
  border-radius: 40%;
  width: 44%;
}